/**
* Custom Css for backend 
*
* @package Core_Corporate
*/
#core-corporate-img-container li{
	padding: 3px;
}
#core-corporate-img-container .core-corporate-radio-img-selected{
	border: 3px solid #bcbcbc;
	padding: 1px;
	width: 16%;
}